The following is an explanation of the data retrieval process for the project. It can be skipped if you are only interested in the data processing and analysis process.

In [1]:
#For general data manipulation
import pandas as pd
#package for interacting with the Open Data API
from sodapy import Socrata

In [2]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.sfgov.org", "none")

#First 489000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("wg3w-h783", limit=489000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

Just to resummarize, the above code line does the following:

1. We authenticate and gain access to the Socrata Open Data portal using credentials. For people that do not have a APP token to put in the second argument, simply putting none will suffice, but the number of results will be restricted.  

2. This retrieves and converts The first argument is the unique dataset identifier. The second argument specifies the number of results to be retrieved. Note: if you did not input an APP token in the first line

3. Converts the newly created list of dictionaries into a pandas Dataframe for ease of manipulation

For more information see the documentation regarding the API here: https://dev.socrata.com/foundry/data.sfgov.org/wg3w-h783

In [3]:
results_df

,incident_datetime,incident_date,incident_time,incident_year,incident_day_of_week,report_datetime,row_id,incident_id,incident_number,report_type_code,...,longitude,point,:@computed_region_jwn9_ihcz,:@computed_region_h4ep_8xdi,:@computed_region_n4xg_c4py,:@computed_region_nqbw_i6c3,:@computed_region_26cr_cadq,:@computed_region_qgnn_b9vv,cad_number,:@computed_region_jg9y_a9du
0,2019-03-05T21:00:00.000,2019-03-05T00:00:00.000,21:00,2019,Tuesday,2019-03-07T12:54:00.000,77808706372,778087,196048512,II,...,-122.41348740024354,"{'type': 'Point', 'coordinates': [-122.4134874...",21,1,1,1,10,5,NaN,NaN
1,2018-12-22T12:00:00.000,2018-12-22T00:00:00.000,12:00,2018,Saturday,2018-12-26T14:29:00.000,75246907023,752469,180971777,VI,...,-122.42781910073226,"{'type': 'Point', 'coordinates': [-122.4278191...",22,NaN,NaN,NaN,11,4,183601903,NaN
2,2018-08-24T17:30:00.000,2018-08-24T00:00:00.000,17:30,2018,Friday,2018-08-24T19:35:00.000,70675306243,706753,180639339,II,...,-122.42283006837721,"{'type': 'Point', 'coordinates': [-122.4228300...",90,NaN,NaN,NaN,2,9,182363732,NaN
3,2018-10-20T15:10:00.000,2018-10-20T00:00:00.000,15:10,2018,Saturday,2018-10-20T15:10:00.000,72826462071,728264,180624631,IS,...,-122.40363551943442,"{'type': 'Point', 'coordinates': [-122.4036355...",32,NaN,NaN,NaN,10,1,182933454,NaN
4,2019-06-05T00:36:00.000,2019-06-05T00:00:00.000,00:36,2019,Wednesday,2019-06-05T00:37:00.000,80823030140,808230,190403077,II,...,-122.4136227157606,"{'type': 'Point', 'coordinates': [-122.4136227...",106,NaN,NaN,NaN,3,6,191560061,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488995,2020-07-02T20:30:00.000,2020-07-02T00:00:00.000,20:30,2020,Thursday,2020-07-03T14:51:00.000,94059005043,940590,200398134,II,...,-122.40509718799159,"{'type': 'Point', 'coordinates': [-122.4050971...",54,NaN,NaN,NaN,9,2,201851591,NaN
488996,2020-12-29T03:16:00.000,2020-12-29T00:00:00.000,03:16,2020,Tuesday,2020-12-29T16:34:00.000,99121006241,991210,200785428,II,...,-122.41226618818563,"{'type': 'Point', 'coordinates': [-122.4122661...",16,NaN,NaN,NaN,3,6,203641070,NaN
488997,2020-07-29T11:24:00.000,2020-07-29T00:00:00.000,11:24,2020,Wednesday,2020-07-29T11:30:00.000,94807404011,948074,200437710,IS,...,-122.41569387441227,"{'type': 'Point', 'coordinates': [-122.4156938...",20,1,1,1,10,5,202111290,NaN
488998,2020-10-08T20:00:00.000,2020-10-08T00:00:00.000,20:00,2020,Thursday,2020-10-08T21:48:00.000,96907106244,969071,206144064,II,...,-122.41580242607432,"{'type': 'Point', 'coordinates': [-122.4158024...",99,NaN,NaN,NaN,3,6,NaN,NaN
488999,2020-07-25T19:00:00.000,2020-07-25T00:00:00.000,19:00,2020,Saturday,2020-07-26T01:58:00.000,94713674000,947136,200446197,II,...,-122.39153761678801,"{'type': 'Point', 'coordinates': [-122.3915376...",55,NaN,NaN,NaN,9,2,202080182,NaN